<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belajar Spring</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7/css/bootstrap.min.css}">
    <script th:src="@{/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/student}">Home</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="form-group col-md-4">
            <h2>Edit Student</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="form-group col-md-4">
            <button type="button" class="close" onclick="window.location.href='/student';">&times;</button>
        </div>
    </div>
    <form th:object="${dataSets}" th:action="@{/student/update}" th:method="put">
        <input type="hidden" th:id="idStudent" th:name="idStudent" th:field="*{idStudent}">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="form-group col-md-4">
                <label for="nameStudent">Nama Student</label>
                <input type="text" class="form-control" th:id="nameStudent" placeholder="Nama"
                       th:field="*{nameStudent}" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="form-group col-md-4">
                <label for="addressStudent">Alamat Student</label>
                <input type="text" class="form-control" th:id="addressStudent" placeholder="Alamat"
                       th:field="*{addressStudent}" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="form-group col-md-4">
                <label for="namaJurusan">Nama Jurusan</label>
                <input type="text" class="form-control" th:id="namaJurusan" placeholder="Nama Jurusan"
                       th:field="*{namaJurusan}" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="form-group col-md-4">
                <label for="fakultas">Fakultas</label>
                <input type="text" class="form-control" th:id="fakultas" placeholder="Fakultas"
                       th:field="*{fakultas}" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="form-group col-md-4">
                <button type="submit" class="btn btn-success">Simpan</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>